.smbtn {
    padding: 1.5rem;
    font-size: 2.2rem;
    width: 6rem;
    text-align: center;
    text-decoration: none;
    color: $color-white;
    border-color: $color-white;
    background-color: $color-grey-dark-3;
    border-radius: 100%;
    border-style: solid;
    margin: .5rem .5rem 2rem;



    &:hover {
        color: $color-grey-dark-3;
        background-color: $color-white;
    }
}

